div{
    padding-top: 30px;
}
table{
    border:red 5px solid;
    background: gainsboro;
}
td{
    border: red 5px solid;
    margin: 15px;
    padding: 15px;
}
.btn{
    border-radius: 5px;
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    
}
.btn-color{
    color:white;
    background-color: green;
}
