<h1>... AGREGAR DATOS ...</h1>
<div id="contenedor">
    <form (ngSubmit)="onCreate()" novalidate="ngForm">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" [(ngModel)]="nombre" required>
        </div>
        <div>
            <label for="apellido">Apellido</label>
            <input type="text" id="apellido" name="apellido" [(ngModel)]="apellido" required>
        </div>
        <button class="btn btn-color">
            agregar a lista
        </button>
    </form>
</div>
